.main-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: relative;
}

.main-container_name {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  top: 0;
  left: 30px;
  padding: 0 10px;
  transform: translateY(-50%);
}