.dist-info {
  font-size: 12px;
  width: fit-content;
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  min-width: 110px;
  border: 1px solid transparent;
}

.dist-info > div + div {
  margin-top: 5px;
}

.dist_avatar > .icon {
  color: orange;
}

.ignore {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: .3;
}

.unexist {
  border: 1px solid orangered;
}