#root {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
  user-select: none;
  width: 100vw;
  height: 100vh;
}

.app > .main-container {
  flex: 1;
  align-content: baseline;
}

.footer > .main-container + .main-container {
  margin-left: 20px;
}

.footer {
  margin-top: 40px;
  display: flex;
}